$teal: #0c839e;
$grey: #767b7c;
$brightblue: #0aaed3;
$yellow: #ffc000;
$white: white;

h1 {
	color: $white;
}

.item-description, {
	color: $teal;
}

p, .allergies, li {
	color: $grey;	
}

h2, h3 {
	color: $brightblue;
}

.item-price {
	color: $yellow;
}

a {
	color: $white;
}

a:hover {
	color: $yellow;
}

.hero {
	h1 {
		color: $white;
	}
}

header, footer {
	background-color: $brightblue;
}

.logo {
	h2 {
		color: white;
	}
}