body {
	font-family: "sharik-sans", sans-serif;
}

h1, h2, h3, {
	line-height: 1.3;
}

p, a, li {
	line-height: 1.8;
}

h1 {
	font-weight: 800;
	font-size: 2em;
}

h2 {
	font-weight: 700;
	font-size: 1.5em;
}

h3 {
	font-weight: 600;
	font-size: 1.3em;
}

p {
	font-weight: 400;
	font-size: 1.1em;
}

a {
	font-weight: 400;
	font-size: 1em;
}

.item-description {
	font-weight: 400;
	font-style: italic;
	font-size: 1.1em;
}

.item-price {
	font-weight: 400;
	font-size: 1.1em;
}

span {
	font-weight: bold;
}

.menu-left a, .menu-right a {
	font-weight: bold;
}

.breakfast-header {
	font-size: 2.5rem;
}